.menu {
	overflow: hidden;
	background-color: antiquewhite;
	position: fixed;
	top: 0;
	width: 100%
}

.menu a {
	float: left;
	display: block;
	color: darkslategrey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.menu a:hover {
	background: #ddd;
	color: black;
}

.header {
	position: -webkit-sticky;
	/*Safari*/
	position: sticky;
	top: 5%;
	background-color: cadetblue;
	border: 2px solid #4CAF50;
	text-align: center;
	font-family: "Garamond";
	color: white;
	font-size: 21px;

}

.explanation {
	background-color: antiquewhite;
	text-align: center;
	font-family: "Garamond";
	color: darkslategrey;
	font-size: 18px;
	padding-top: 1%;
}

.buffer3 {
	background-color: #faf1ed;

}

.video1 {
	color: darkslategrey;
	text-align: center;
	font-size: 19px;
	font-family: "Garamond";
}

.video2 {
	color: darkslategrey;
	text-align: center;
	font-size: 19px;
	font-family: "Garamond";
}

.video3 {
	color: darkslategrey;
	text-align: center;
	font-size: 19px;
	font-family: "Garamond";
}

/*Email Link*/
.footer {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: floralwhite;
	padding: 1%;
}
